# Dependencies
node_modules/

# Build output
dist/

# Tauri / Rust
src-tauri/target/
src-tauri/gen/schemas

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
